Package: com.cabralcole.weatherbanners
Name: WeatherBanners
Depends: mobilesubstrate, net.limneos.libbulletin, libactivator, firmware (>= 10.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Show current weather quick.
Maintainer: cole cabral
Author: cole cabral
Section: Addons (Activator)
Icon: file:///Library/Activator/Listeners/com.cabralcole.weatherbanners/Icon-small@2x.png